
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  </head>
<div id="container">

    <div id="header">  


      

    <div id="body">

        <div id="body-container">

          <div id="body-callout-text">
            start chatting now
          </div>

        </div>

    </div>

    <div id="footer">
       <ul>
        <h3>Footer</h3>
        <p>Some footer worthy info here</p>
        <hr></hr>
        <h5>Heading</h5>
        <li>Text 01</li>
        <li>Text 02</li>
        <li>Text 03</li>
        <li>Text 04</li>
      </ul>
      
      <p></p>
    </div>
</html>