
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  </head>
<div id="container">

    <div id="header">  


      

    <div id="body">

        <div id="body-container">
          <%= image_tag("chomment_logo.png") %>
          <div id="body-callout-text">
            <br> Comment the Web
          </div>

        </div>

    </div>
  <footer>
    <div id="footer">
       <ul>
        <!-- <h3>Markup the Web</h3>
        <p></p>
        <hr></hr>
       -->
        
        <nav class="share">

          <h3> 
            <i class="fa fa-share"></i> Share</h3>
          <li>An open platform to share your views and insight online</li>
        </nav>

        <nav class="review">

          <h3>
            <i class="fa fa-thumbs-o-up"></i> Review</h3>
          <li>Leave your review for any website, link or page on the internet</li>
        </nav>

        <nav class="chat">
          <h3>
            <i class="fa fa-comments-o"></i> Chat</h3>
          <li>Chat in realtime with anyone viewing the same page you're on</li>
        </nav>

        <nav class="comment">
          <h3>
            <i class="fa fa-align-justify"></i> Comment</h3>
          <li>Leave a comment or read those left by others</li>
        </nav>
      </ul>
    </div>
  </footer>
</html>