/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


/* navbar */

.navbar-default {
    background-color: #444444 !important;
    /*background-color: #2c3e50 !important;*/
    /*border-color: #E7E7E7;*/
    border-color: transparent !important;
}

.navbar .nav > li > a  {
  margin-bottom: 0px !important;
  color: #FFFFFF !important;
}

.navbar-brand {
  font-size: 30px !important;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  color:  white !important;
}

.devise-formatting {
  margin-left: 30px;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}